@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.signinDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #eee;
}

.signinForm {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}

.signupDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
  margin-top: 40px;
}

.inputDiv {
  margin-bottom: 10px;
  position: relative;
}

.genderDropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

.genderDropdown::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #333;
  pointer-events: none;
}

.genderDropdown option {
  background-color: #fff;
  color: #333;
}

.genderDropdown:hover {
  border-color: #007bff;
}

.genderDropdown:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.signupForm {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}

.signupForm h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.loginHeading {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.loginHeading::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
}

.forgot-password a {
  text-decoration: none;
  color: #007bff;
}

.forgot-password a:hover {
  text-decoration: underline;
}
